<main id="mainGraph">
    <%- include('../../layout/banner', {bannerMessage: 'Journal Emotional Analysis'}) %>
    <div id="graphContainer">
        <canvas id="myMainChart"></canvas>
    </div>

    <%- include('definitions') %>

    <a class="toggle" href="/profile/<%= uid %>">Return to Profile</a>
</main>

<%- include('chart-script') %>
